
.loader-box {
  background: url('img/loader.gif') no-repeat center center;
}

.slide-preview {
  background: none;
  float: left;
  cursor: pointer;
}

.navigation-box-bottom {
  clear: left;
}

.navigation-box-text a {
  margin: 0 2px;
}

.navigation-box-image a {
  padding-left: 16px;
  margin: 0 1px;
}

.navigation-box .image-first {
  background: url('img/tostart.png') top left no-repeat;
}

.navigation-box .image-prev {
  background: url('img/backward.png') top left no-repeat;
}

.navigation-box .image-play {
  background: url('img/play.png') top left no-repeat;
}

.navigation-box .image-stop {
  background: url('img/stopplay.png') top left no-repeat;
}

.navigation-box .image-next {
  background: url('img/foward.png') top left no-repeat;
}

.navigation-box .image-last {
  background: url('img/toend.png') top left no-repeat;
}