
#edit-output-settings-entries-navigation-buttons-first-vis-wrapper,
#edit-output-settings-entries-navigation-buttons-first-text-wrapper,
#edit-output-settings-entries-navigation-buttons-first-text-wrapper label,
#edit-output-settings-entries-navigation-buttons-first-text,
#edit-output-settings-entries-navigation-buttons-prev-vis-wrapper,
#edit-output-settings-entries-navigation-buttons-prev-text-wrapper,
#edit-output-settings-entries-navigation-buttons-prev-text-wrapper label,
#edit-output-settings-entries-navigation-buttons-prev-text, 
#edit-output-settings-entries-navigation-buttons-next-vis-wrapper,
#edit-output-settings-entries-navigation-buttons-next-text-wrapper,
#edit-output-settings-entries-navigation-buttons-next-text-wrapper label,
#edit-output-settings-entries-navigation-buttons-next-text,
#edit-output-settings-entries-navigation-buttons-last-vis-wrapper,
#edit-output-settings-entries-navigation-buttons-last-text-wrapper,
#edit-output-settings-entries-navigation-buttons-last-text-wrapper label,
#edit-output-settings-entries-navigation-buttons-last-text,
#edit-output-settings-entries-navigation-buttons-playstop-vis-wrapper,
#edit-output-settings-entries-navigation-buttons-play-text-wrapper,
#edit-output-settings-entries-navigation-buttons-play-text-wrapper label,
#edit-output-settings-entries-navigation-buttons-play-text,
#edit-output-settings-entries-navigation-buttons-stop-text-wrapper,
#edit-output-settings-entries-navigation-buttons-stop-text-wrapper label,
#edit-output-settings-entries-navigation-buttons-stop-text {
  display: inline;
}

#edit-output-settings-entries-navigation-buttons-stop-text-wrapper label {
  margin-left: 23px;
}